
<div class="tabs">
  <button [class.active]="activeTab === 'form'" (click)="setActiveTab('form')">➕ Add Workout</button>
  <button [class.active]="activeTab === 'table'" (click)="setActiveTab('table')">📋 View Workouts</button>
  <button [class.active]="activeTab === 'chart'" (click)="setActiveTab('chart')">📊 Workout Stats</button>
</div>

<div class="fullscreen-container">
  <div class="centered-content">
    <div *ngIf="activeTab === 'form'">
      <app-workout-form (addWorkout)="addWorkout($event)"></app-workout-form>
    </div>

    <div *ngIf="activeTab === 'table'">
      <app-workout-table [workouts]="workouts"></app-workout-table>
    </div>

    <div *ngIf="activeTab === 'chart'">
      <app-workout-chart [workouts]="workouts"></app-workout-chart>
    </div>
  </div>
</div>
