.workout-container {
  max-width:80rem;
  width: 100%; 
  margin: 0 auto; 
  padding: 2rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workout-title {
  font-size: 1.7rem;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.filter-container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 1.5rem;
  max-width: 80%; 
  margin-bottom: 1rem;
  justify-content: center; 
}

.filter-input {
  flex: 1;
  max-width: 22rem;
  position: relative; 
  margin: 0 auto; }

.filter-input input {
  width: 100%;
  padding: 0.75rem 1rem;
  padding-left: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 50px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  transition: all 0.3s ease;
}

.filter-input input:focus {
  border-color: #3b82f6;
  box-shadow: 0px 2px 10px rgba(59, 130, 246, 0.3);
  outline: none;
}

.filter-icon {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #666;
}

.table-container {
  width: 95%;
  max-width: 80rem;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 2rem;
}

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

.table thead {
  background: #2563eb;
  color: white;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.table th, .table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table tbody tr:hover {
  background: #e0e7ff;
  transition: background 0.3s ease;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.pagination button {
  padding: 0.75rem 1.5rem;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.pagination .prev {
  background: #f3f4f6;
  color: #333;
  border: 2px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.pagination .prev:hover {
  background: #e5e7eb;
  border-color: #999;
}

.pagination .next {
  background: #3b82f6;
  color: white;
  border: 2px solid #2563eb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.pagination .next:hover {
  background: #2563eb;
}

.pagination .disabled {
  opacity: 0.5;
  cursor: not-allowed;
  box-shadow: none;
}

.page-info {
  font-weight: bold;
  font-size: 1.1rem;
  color: #444;
  margin: 0 1rem;
}
